<div class="blockscreen"></div>
<div class="mainpopup-wrapper">
    <div class="mainpopup-left"></div>
    <div class="mainpopup-right">
        <div class="mainpopup">
            <div class="mainpopup__header">Регистрация_</div>
            <div class="mainpopup__form">
                <form action="{{ path('createuser') }}" method="post">
                    <div class="mainpopup__input">
                        <label for="txtUser" class="mainpopup__title">LOGIN</label>
                        <input id="txtUser" required type="text" name="login" class="mainpopup__descr" />
                    </div>
                    <div class="mainpopup__input">
                        <label for="txtString" class="mainpopup__title">PASS</label>
                        <input id="txtString" required class="mainpopup__descr" type="password" name="pw" />
                    </div>
                    <div class="mainpopup__input">
                        <label for="txtUname" class="mainpopup__title">Name</label>
                        <input id="txtUname" required type="text" name="uname" class="mainpopup__descr" />
                    </div>
                    <div class="mainpopup__buttons">
                        <div class="mainpopup__otherbutton">
                            <a href="{{ path('app_admin')}}" class="mainpopup__link">ОТМЕНА</a>
                        </div>
                        <div class="mainpopup__button">
                            <button type="submit" class="mainpopup__submit">OK</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>