<div class="blockscreen"></div>
<div class="mainpopup-wrapper">
    <div class="mainpopup-left"></div>
    <div class="mainpopup-right">
        <div class="mainpopup">
            <div class="mainpopup__header">Создать задачу_</div>
            <div class="mainpopup__form">
                <form action="{{ path('createtask') }}" method="POST">
                    <div class="mainpopup__input mainpopup__input-create">
                        <label for="txtTitle" class="mainpopup__title create-item">Заголовок</label>
                        <input id="txtTitle" type="text" name="title" class="mainpopup__descr create-descr" required />
                    </div>
                    <div class="mainpopup__input mainpopup__input-create">
                        <label for="txtDescr" class="mainpopup__title create-item create-item__textarea">Описание</label>
                        <textarea id="txtDescr" required type="text" name="description" class="mainpopup__descr create-descr create-descr__textarea"></textarea>
                    </div>
                    <div class="mainpopup__input mainpopup__input-create mainpopup__input-date">
                        <label for="txtDeadline" class="mainpopup__title create-item">Deadline</label>
                        <input id="txtDeadline" required type="date" name="deadline" class="mainpopup__descr create-descr create-descr__date" />
                    </div>
                    <div class="mainpopup__buttons mainpopup__buttons-deadline">
                        <div class="mainpopup__button">
                            <button type="submit" class="mainpopup__submit">СОЗДАТЬ</button>
                        </div>
                        <div class="mainpopup__otherbutton">
                            <a href="{{path('app_tasks')}}" class="mainpopup__link">ОТМЕНА</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>